body {
  font-family: Hack, monospace;
  background-color: #000000;
  color: #4aff75;
  max-width: 700px;
  margin: 60px auto;
  padding: 20px;
}

.container {
  background: #A9A9A9;
  padding: 30px;
  border-radius: 8px;
}

h1 {
  color: #222;
}
